.button-shortcut {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0 2rem;
  height: 2.5rem;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: normal;
  min-width: 8.5rem;
}

.button-shortcut:hover {
  background-color: #ccc;
}

.mapper-shortcut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 1rem;
}

.keybind-holder {
    width: 30rem;
    margin: auto;
}

.icon-action {
    margin-left: 20px;
}

.icon-action:hover {
    cursor: pointer;
    width: 25px;
    height: 25px;
}
